# FastAPI framework
fastapi==0.111.0

# ASGI server
uvicorn[standard]==0.30.0

# Database (SQLite with SQLAlchemy ORM)
sqlalchemy==2.0.32

# Data science & ML
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
pytorch-tabnet==4.1.0
torch==2.3.1
torchvision==0.18.1

# Utils
python-multipart==0.0.9   # for file uploads
pydantic==2.7.1
